body{
    /* background-color: #fef7e7; */
    background-color: #ffffff;
}
.header_colour {
  width: 100%;
  margin: 0;
  padding: 100px 0px 20px;
  position: relative;
  overflow: hidden;
}
  
.header_colour p {
  width: 65%;
  margin: 0 auto;
}
  
.header_colour::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffc900;
  transform: skewY(-7deg) translateY(-90px);
  z-index: -1;
}
.a {
  display: inline-block;
  border-radius : 7%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 16px 84px;   /* 余白       */
  background    : #ffc900;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffc900;    /* 枠の指定 */
  margin: 10px auto;
}
/* フォームcss */
form{
  text-align: center;
}
table{
  text-align: center;
  margin: 0px auto 30px;
  border-collapse: separate;
  border-spacing: 0px 10px;
  background-color: #fef7e7;
  border-radius:20px;
  color: #555555;
}
/* form th{
  background-color: #ffc900;
} */
form td {
  text-align: left;
}
.Column{
  width: 400px;
  height: 30px;
  border-radius:5px;
  background-color: #e5f0ff;
}

.button1 {
  display: inline-block;
  border-radius : 7%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 16px 84px;   /* 余白       */
  background    : #ffc900;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffc900;    /* 枠の指定 */
  margin: 10px auto;
}
.button1:hover {
  color         : #ffc900;     /* 背景色     */
  background    : #fef7e7;     /* 文字色     */
}
.button2 {
  display: inline-block;
  border-radius : 7%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 30px;   /* 余白       */
  background    : #ffc900;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffc900;    /* 枠の指定 */
  text-decoration: none;
}
.button2:hover {
  color         : #ffc900;     /* 背景色     */
  background    : #fef7e7;     /* 文字色     */
}

.footer_colour {
  width: 100%;
  margin: 0;
  padding: 100px 0 10px;
  position: relative;
  overflow: hidden;
}

.footer_colour h1 {
  width: 65%;
  margin: 0 auto;
}

.footer_colour::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffc900;
  transform: skewY(-7deg) translateY(90px);
  z-index: -1;
}